# Install a fresh new system (optional)
install

cmdline

cdrom

keyboard us

network --onboot yes --device ens192 --bootproto dhcp --noipv6 --hostname centos7

rootpw --iscrypted $1$dMG3t.Am$P1/Op7nvPHipWJQj3Bd5u1
firewall --disabled
authconfig --enableshadow --passalgo=sha512
selinux --permissive
timezone --utc America/Los_Angeles
bootloader --location=mbr --append="crashkernel=auto rhgb quiet" --password=$1$dMG3t.Am$P1/Op7nvPHipWJQj3Bd5u1

# initialize disks
zerombr
clearpart --all --initlabel --drives=sda
autopart

# Packages selection
%packages --ignoremissing
Require @Base
@Base
@core
ntp
%end
# End of %packages section

%post
#sudo yum upgrade -y
chkconfig ntpd on
chkconfig sshd on
chkconfig ypbind on
chkconfig iptables off
chkconfig ip6tables off
chkconfig yum-updatesd off
chkconfig haldaemon off
chkconfig mcstrans off
chkconfig sysstat off

# Install open-vm-tools, required to detect IP when building on ESXi
sudo yum -y install open-vm-tools
sudo systemctl enable vmtoolsd
sudo systemctl start vmtoolsd
%end

reboot --eject
